<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:http="http://schemas.android.com/apk/res-auto"
    package="com.example.shrisha.broadcastreceiver">

    <uses-feature
        android:name="Bluetooth"
        android:required="true"></uses-feature>
    <uses-feature
        android:name="Wifi"
        android:required="true"></uses-feature>

    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".BlueToothBroadcastReceiver">
        </receiver>
        <receiver android:name=".WiFiAdapter">
            <intent-filter>
                <action android:name="Wifi Receiver"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>